@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}

.group:hover .animate-marquee {
  animation-play-state: paused;
}

body {
  background: var(--background);
  color: var(--foreground);
}